@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
    themes:
        dark --default,
        dark --prefersDark,
        light --prefersLight;
    root: ":root";
    include:;
    exclude:;
    prefix:;
    logs: false;
}

@theme {
    --color-primary-content: oklch(0.931 0 0);
    --color-priority-1: oklch(0.6368 0 0); /* grey */
    --color-priority-2: oklch(0.681 0.1692 258.47); /* blue */
    --color-priority-3: oklch(0.774 0.171 64.17); /* tangerine */
    --color-priority-4: oklch(0.7172 0.1765 26.45); /* red */
}

@plugin "daisyui/theme" {
    name: "dark";
    default: true;

    --color-primary: oklch(0.554 0.1696 29.57); /* Doist red */
    --color-secondary: oklch(0.5555 0 0); /* light grey */
    --color-neutral: oklch(0.2972 0 0); /* slate grey */
    --color-accent: oklch(0.2603 0 0); /* dark slate grey */
    --color-base-100: oklch(0.2264 0 0); /* darkest slate grey */
}

body {
    font-family: "Clear Sans", sans-serif;
}

/* GENERATED ELEMENTS */

.prose ul,
.prose li,
.prose p {
    margin-top: 0;
    margin-bottom: 0;
}

.prose code {
    background-color: var(--color-primary);
    border: none;
    position: relative;
    top: -0.09em;
}

/* AGENDA */

#agenda h1,
#agenda h2 {
    text-align: center;
    font-weight: 700;
}
#agenda h1 {
    font-size: 1.5rem;
    line-height: 2rem;
}
#agenda h2 {
    margin-bottom: 0.25rem;
    font-size: 1rem;
    line-height: 1;
}

/* BUTTONS */
button,
.btn {
    box-shadow: none;
    cursor: pointer;
}

kbd {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    padding: 0em 0.4em;
    background-color: var(--color-primary);
    color: var(--color-base-100);
    border-radius: 0.25em;
    font-family: monospace;
    font-size: x-small;
    font-weight: bold;
    display: none;
    z-index: 999;
    text-wrap: nowrap;
}

body.show-kbd kbd {
    display: inline-block;
}

:hover > kbd {
    display: inline-block;
    opacity: 0.5;
}
