@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Clear Sans", sans-serif;
}

/* TOAST NOTIFICATIONS */

:root {
    --toastBorderRadius: 0.5rem;
    --toastWidth: 20rem;
}

._toastContainer {
    position: relative !important;
    top: unset !important;
    right: 0.5rem !important;
}

/* DATE PICKER */

:root {
    --sdt-bg-main: theme("colors.base-100");
    --sdt-shadow-color: transparent;
    --sdt-color: theme("colors.primary-content");
    --sdt-header-color: theme("colors.primary-content");
    --sdt-header-btn-bg-hover: theme("colors.neutral");
    --sdt-table-disabled-date: theme("colors.neutral");
    --sdt-table-data-bg-hover: theme("colors.neutral");
}

.std-calendar-wrap {
    min-width: 18rem;
}

.sdt-cal-td > button {
    padding-top: 0rem !important;
    padding-bottom: 0.25rem !important;
}

.sdt-cal-td > button:disabled {
    pointer-events: none;
}

.sdt-cal-td {
    cursor: not-allowed;
}

.sdt-today {
    padding-top: 0.1rem !important;
}

.sdt-today > button {
    outline: 0.2rem var(--fallback-p, oklch(var(--p) / 1)) solid;
    outline-offset: -0.1rem;
}

.sdt-today::before {
    display: none;
}

/* GENERATED ELEMENTS */

.prose ul,
.prose li,
.prose p {
    margin-top: 0;
    margin-bottom: 0;
}
