@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Clear Sans", sans-serif;
}

/* TOAST NOTIFICATIONS */

:root {
    --toastBorderRadius: 0.5rem;
    --toastWidth: 20rem;
}

._toastContainer {
    @apply relative right-2;
    top: unset !important;
}

/* DATE PICKER */

:root {
    --sdt-bg-main: theme("colors.base-100");
    --sdt-shadow-color: transparent;
    --sdt-color: theme("colors.primary-content");
    --sdt-header-color: theme("colors.primary-content");
    --sdt-header-btn-bg-hover: theme("colors.neutral");
    --sdt-table-disabled-date: theme("colors.neutral");
    --sdt-table-data-bg-hover: theme("colors.neutral");
}

.std-calendar-wrap {
    @apply min-w-72;
}

.sdt-cal-td > button {
    @apply pb-1 pt-0;
}

.sdt-cal-td > button:disabled {
    @apply pointer-events-none;
}

.sdt-cal-td {
    @apply cursor-not-allowed;
}

.sdt-tomorrow {
    @apply pt-[0.1rem];
}

.sdt-tomorrow > button {
    outline: 0.1rem var(--fallback-p, oklch(var(--p) / 1)) solid;
    outline-offset: -0.05rem;
}

.sdt-today::before,
.modal-box * .btn:empty {
    @apply hidden;
}

/* GENERATED ELEMENTS */

.prose ul,
.prose li,
.prose p {
    @apply mb-0 mt-0;
}
