@import "tailwindcss";

@plugin "daisyui" {
    themes:
        dark --default,
        dark --prefersDark,
        light --prefersLight;
    root: ":root";
    include:;
    exclude:;
    prefix:;
    logs: false;
}

@theme {
    --color-primary-content: "#e8e8e8";
    --color-priority-1: oklch(0.6368 0 0); /* grey */
    --color-priority-2: oklch(0.681 0.1692 258.47); /* blue */
    --color-priority-3: oklch(0.774 0.171 64.17); /* tangerine */
    --color-priority-4: oklch(0.7172 0.1765 26.45); /* red */
}

@plugin "daisyui/theme" {
    name: "dark";
    default: true;

    --color-primary: "#C23F31";
    --color-secondary: "#737373";
    --color-neutral: "#2D2D2D";
    --color-accent: "#242424";
    --color-base-100: "#1C1C1C";
}

body {
    font-family: "Clear Sans", sans-serif;
}

/* TOAST NOTIFICATIONS */

:root {
    --toastBorderRadius: 0.5rem;
    --toastWidth: 20rem;
}

._toastContainer {
    position: relative;
    right: 0.5rem;
    top: unset !important;
}

/* DATE PICKER */

:root {
    --sdt-bg-main: var(--color-base-100);
    --sdt-shadow-color: transparent;
    --sdt-color: var(--color-primary-content);
    --sdt-header-color: var(--color-primary-content);
    --sdt-header-btn-bg-hover: var(--color-neutral);
    --sdt-table-disabled-date: var(--color-neutral);
    --sdt-table-data-bg-hover: var(--color-neutral);
}

.std-calendar-wrap {
    min-width: 18rem;
}

.sdt-cal-td > button {
    padding-top: 0;
    padding-bottom: 0.25rem;
}

.sdt-cal-td > button:disabled {
    pointer-events: none;
}

.sdt-cal-td {
    cursor: not-allowed;
}

.sdt-tomorrow {
    padding-top: 0.1rem;
}

.sdt-tomorrow > button {
    outline: 0.1rem var(--fallback-p, oklch(var(--p) / 1)) solid;
    outline-offset: -0.05rem;
}

.sdt-today::before,
.modal-box * .btn:empty {
    display: none;
}

/* GENERATED ELEMENTS */

.prose ul,
.prose li,
.prose p {
    margin-top: 0;
    margin-bottom: 0;
}

/* AGENDA */

#agenda h1,
#agenda h2 {
    text-align: center;
    font-weight: 700;
}
#agenda h1 {
    font-size: 1.5rem;
    line-height: 2rem;
}
#agenda h2 {
    margin-bottom: 0.25rem;
    font-size: 1rem;
    line-height: 1;
}

/* BUTTONS */
button,
.btn {
    box-shadow: none;
    cursor: pointer;
}
